<!DOCTYPE html>

{% extends 'base.html' %}
{% block title %} Recipe Detail {% endblock %}

{% block content %}
    <h1>{{ recipe.name }}</h1>
        <p>Made by {{recipe.author}} </p>
        <h2>Ingredients:</h2>
            <ul>
                {% for ingredient in recipe.ingredient.all %}
                    <li>{{ ingredient}}</li>
                {% endfor %}
            </ul>
        {% url 'recipe-detail' pk=recipe.pk as link %}
        <a href="{{ link }}">Link</a> <br>
        <a href="{% url 'ledger:recipe-list' %}">Back </a>
{% endblock %}