<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        {% extends 'base.html' %}
        {% block title %} Recipe List {% endblock %}

        {% block content %}
        <h2>Recipe List</h2> <br>
            <h3>Recipes</h3>
                {% for recipe in recipes %}
                <h4> {{ recipe.name }} </h4>
                    <ul>
                        {% for ingredient in recipe.ingredient.all %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'ledger:recipe-detail' recipe.pk  %}">Link</a>
                {% endfor %}
        {% endblock %}
    </body>
</html>
